@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.sacha {
  width: 150px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size:cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
  h1 {
    margin: 0;
    color: #D73851;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 64px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: #D73851;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: "Press Start 2P";
  }
}

.text-container{
  margin: 0px 0px 50px 0px;
  width: 100%;
}

.cover  {
  width: 100%;
  padding: 20px 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
}

.map-container{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.parent-container{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.b-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.pokemon-img{
  width: 300px;
}

.main-container{
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: white;
  width: 300px;
  height: 455px;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out,
              background 0.3s ease-in-out;
}

.main-container:hover {
  /* Dégradé évoquant un demi-cercle rouge sur le haut (Poké Ball)
     et le blanc en bas */
  background: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);

  /* On peut ajouter une bordure noire pour rappeler le cercle central */
  border: 3px solid #000000;

  /* Légère mise en avant au survol */
  transform: scale(1.05);

  /* Halo rouge rappelant la couleur principale de la Poké Ball */
  box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.4);

  cursor: pointer; /* curseur “main” au survol */
}

.info-container{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.info-container h4 {
  font-family: "Press Start 2P", system-ui;
  padding-top: 10px;
}

.link{
  text-decoration: none;
  color: black;
}

.form-submit {
  background-color: #FFDE00;
}

.form-control {
  width: 300px;
}
