// Specific CSS for your home-page

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  align-items: center;
}

.nav-button {
  background-color: #d73851;
  padding: 2px;
  border-radius: 30px;
  margin-right: 10px;
  color: white;
}

.nav-link {
  font-size: small;
}

.banner {
  background-size:auto;
  background-position: center;
  padding: 200px 0;
  text-align: center;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 64px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;

  a:hover {
    opacity: 1;
  }
}

.footer .fa-heart {
  color: #D23333;
}


.cover  {
  width: 100%;
  padding: 20px 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.flex-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: flex;
  z-index: 10;
  position: relative;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

input[type="search"] {
  flex-basis: 500px;
}

.parent-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

#pokemon-img{
  width: 300px;
  border-radius: 20px;
}

.main-container{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px grey;
  border-radius: 30px;
}

.info-container{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.info-container h2{
  padding-top: 10px;
}

.img-pokemon{
  border-radius: 30px;
}
