@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

*{
  font-family: "Montserrat";
}

.p-text-container{
  width: 500px;
}

#p-title {
  font-family: "Press Start 2P", system-ui;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
}

#p-paragraph{
  font-family: 'Montserrat';
}

.p-input{
  width: 400px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 5px;
}

.p-back{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  color: #FFDE00;
}

.p-container-back{
  margin-top: 30px;
}

.p-submit{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #FFDE00;
  color: white;
  font-weight: 600;
}

.p-parent-container{
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 750px;
  width: 500px;
}
