
<div class="infos-booking">
  
<div class="container">

  <% if current_user.id == @booking.pokemon.user_id %>
  <%= render "booking_review", booking: @booking %>
  <% else %>
  <%= render "booking", booking: @booking %>
  <% end %>

</div>
