
<div class="infos-booking">

  <div class="container">

    <% if current_user == @booking.pokemon.user %>
    <%= render "booking_review", booking: @booking %>
    <% else %>
    <%= render "booking", booking: @booking %>
    <% end %>

  </div>
  
</div>
