<!--banner-->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path('xphtohpwnlzq2whzpw89', gravity: :south) %>');">
  <div class="container">
    <h1>PokeLoc</h1>
    <p>Louez votre Pokémon !</p>
  </div>
</div>
