.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.primary-color{
  background-color: #FDF746;
}

.refuse-color{
  background-color: #FD4646;
}

.sucess-color{
  background-color: #00DD16;
}

.black{
  color:#1F1F1F;
}
