.tabs {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 20px;
}

.tabs .tab-registers {
  margin: 0 auto;
  width: 600px;
  display: flex;
  background-color: RGB(255, 255, 255);
}


.tabs button {
  padding: 0.5em;
  background: none;
  border: none;
  font: inherit;
}

.tabs .tab-registers button:hover {
  cursor: pointer;
}

.tabs .tab-bodies {
  padding: 0.5em;
  background-color: white;
  flex-grow: 1;
  overflow-y: auto;
}

.tabs button.active-tab {
  opacity: 1;
}

.tabs button.inactive-tab {
  opacity: 0.2;
}
