<h1>Pokemon show page</h1>

<div>

<div>
<%= @pokemon.name %>
<%= @pokemon.address %>
<%= @pokemon.price %>
</div>

<div>
<a href="new_pokemon_booking_path" class="btn btn-success">Réservez ce Pokémon</a>
</div>

</div>
